<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <script src="/js/d3.v7.min.js"></script>
        <script src="/js/venn.js"></script>
        <script>
           // Cool code goes here. Maybe put this under .js

           let setInputElement = "<div class='row'><input type='text' class='col-6' ><input class='col' type='number'><button class='btn btn-outline-danger mx-1 col-auto' type='button' onclick='removeInput(this)'>Trash</button></div>"

           class _set {
               constructor(sets, size) {
                   this.sets = sets;
                   this.size = size;
               }
           }

           class VennModel {
               constructor(name, sets, email) {
                   this.name = name;
                   this.sets = sets;
                   this.creatorEmail = email;
               }
           }

           function init(){
               var sets = [new _set(["A"], 10), new _set(["B"], 10), new _set(["A", "B"], 3)];

               var chart = venn.VennDiagram();
               d3.select("#venn").datum(sets).call(chart);
           }

           function update(){
               let sets = getSets();

               var chart = venn.VennDiagram();
               d3.select("#venn").datum(sets).call(chart);
           }

           async function saveVenn() {

               let url = "./create/venn";

               console.log(document.getElementById("vennDiagramId").value);

               if (document.getElementById("vennDiagramId").value !== "EMPTY"){
                    url = "./update/venn";
               }

               console.log(url);

               let sets = getSets();
               let vennModel = new VennModel(
                   document.getElementById("vennName").value,
                   sets,
                   document.getElementById("creatorEmail").value)

               let payload = JSON.stringify(vennModel);

               const res = await fetch(url, {
                   headers: {
                       'Content-Type': 'application/json',
                       'X-XSRF-TOKEN': document.cookie.split("=")[1]
                   },
                   method: "post",
                   credentials: "include",
                   body: payload
               });

               let resJson = await res.json();

               console.log(resJson.id);

               document.getElementById("vennDiagramId").value = resJson.id;

               alert("Saved Venn!");
           }

           function getSets(){
               let sets = [];
               let setParent = document.getElementById("setsList");
               let interParent = document.getElementById("interList")

               for (var i = 0; i < setParent.childElementCount; i++){
                   sets[i] = new _set([setParent.children[i].children[0].value], setParent.children[i].children[1].value);
               }

               for (var i = 0; i < interParent.childElementCount; i++){
                   sets[setParent.childElementCount + i] = new _set(interParent.children[i].children[0].value.split(","), interParent.children[i].children[1].value);
               }

               return sets;
           }

           function addInput(strListId){
               <!-- Better solutoin: recreate html from scratch. more steps but less arrays -->
               let setList = document.getElementById(strListId);
               let valueList = [];

               for (var i = 0; i < setList.childElementCount; i++){
                    let child = setList.children[i].children[0];
                    valueList[i] = child.value;
               }

               setList.innerHTML += setInputElement;

               for (var i = 0; i < setList.childElementCount - 1; i++){
                   let child = setList.children[i].children[0];
                   child.value = valueList[i];
               }
           }

           function removeInput(element){
               element.parentElement.remove();
           }

        </script>
    </head>
    <body onload="init()">

        <input id="creatorEmail" type="hidden" th:value="${session.email}">
        <input id="vennDiagramId" type="hidden" value="EMPTY">

        <main class="container card bg-gradient-">

            <div class="row">

                <div class="col">
                    <div id="venn"></div>
                </div>

                <div class="col bg-light-subtle">
                    <div class="row"><input type="text" id="vennName" class="m-1"></div>
                    <div class="row">
                        <!-- Sets -->
                        <div  class="col">
                            <div class="row"><p class="col">Name</p><p class="col">Size</p></div>
                            <div id="setsList" class="row"></div>
                        </div>
                        <!-- Intersections -->
                        <div class="col">
                            <div class="row"><p class="col">Intersection</p><p class="col">Size</p></div>
                            <div id="interList" class="col"></div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col"><button type="button" onclick="addInput('setsList')" class="btn btn-primary">Add Set</button></div>
                        <div class="col"><button onclick="addInput('interList')" class="btn btn-outline-info">Add Intersectoin</button></div>
                    </div>

                </div>

                <div class="row text-center">
                    <div class="col">
                        <button onclick="update()" type="button" class="btn btn-outline-secondary">Update</button>
                    </div>
                    <div class="col"><button onclick="saveVenn()" type="button">Save</button></div>

                </div>

            </div>

        </main>


    </body>
</html>