<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/d3.v7.min.js"></script>
        <script src="/js/venn.js"></script>
        <script>

            const getVennUrl = "/data/venn?id=";

           let setInputElement = "<div class='row'>" +
               "<input type='text' class='col-6'>" +
               "<input class='col-2'  type='number'>" +
               "<button class='btn btn-outline-danger mx-1 col-auto' type='button' onclick='removeInput(this)'>Trash</button>" +
               "</div>";

           let interInputElement = "<div class='row'>" +
               "<input type='text' class='col-6' >" +
               "<input type='text' class='col-3'>" +
               "<input class='col' type='number'>" +
               "<button class='btn btn-outline-danger mx-1 col-auto' type='button' onclick='removeInput(this)'>Trash</button>" +
               "</div>";

           class _set {
               constructor(sets, size) {
                   this.sets = sets;
                   this.size = size;
               }
           }
           class VennModel {

               id;
               label;

               constructor(name, sets, email) {
                   this.name = name;
                   this.sets = sets;
                   this.creatorEmail = email;
               }
           }
           class INPUT_TYPES {
               static SET = "setsList";
               static INTER = "interList";
           }

           async function init() {

               var sets;

               let vennId = document.getElementById("vennDiagramId").value;
               if (vennId === "EMPTY") {
                   sets = [new _set(["A"], 10), new _set(["B"], 10), new _set(["A", "B"], 3)];
               } else {
                   //fetch data for loaded venn from db
                   console.log(getVennUrl.concat(vennId.toString()))
                   await fetch(getVennUrl.concat(vennId.toString()))
                       .then((response) => response.json())
                       .then((data) => {
                           console.log(data);
                           sets = data.sets;
                           document.getElementById("vennName").value = data.name;
                           createInputFromJson();
                       });
               }

               var chart = venn.VennDiagram();
               d3.select("#venn").datum(sets).call(chart);
           }

           function update(){
               let sets = getSets();

               var chart = venn.VennDiagram();
               d3.select("#venn").datum(sets).call(chart);
           }

           async function saveVenn() {
               let sets = getSets();
               let vennModel = new VennModel(
                   document.getElementById("vennName").value,
                   sets,
                   document.getElementById("creatorEmail").value)

               let url = "./create/venn";
               let saveMessage = "Successfully saved venn";

//               console.log(document.getElementById("vennDiagramId").value);

               if (document.getElementById("vennDiagramId").value !== "EMPTY"){
                    url = "./update/venn";
                    saveMessage = "Successfully updated venn"
                    vennModel.id = document.getElementById("vennDiagramId").value;
               }

               let payload = JSON.stringify(vennModel);
               console.log(payload);

               const res = await fetch(url, {
                   headers: {
                       'Content-Type': 'application/json',
                       'X-XSRF-TOKEN': document.cookie.split("=")[1]
                   },
                   method: "post",
                   credentials: "include",
                   body: payload
               });

               let resJson = await res.json();

               console.log(resJson.id);

               document.getElementById("vennDiagramId").value = resJson.id;

               alert(saveMessage);
           }

           function getSets(){
               let sets = [];
               let setParent = document.getElementById("setsList");
               let interParent = document.getElementById("interList")

               for (var i = 0; i < setParent.childElementCount; i++){
                   sets[i] = new _set([setParent.children[i].children[0].value], setParent.children[i].children[1].value);
               }

               for (var i = 0; i < interParent.childElementCount; i++){
                   sets[setParent.childElementCount + i] = new _set(interParent.children[i].children[0].value.split(","), interParent.children[i].children[2].value);
                   sets[setParent.childElementCount + i].label = interParent.children[i].children[1].value;
               }

               return sets;
           }

           function createInputFromJson(sets){
                sets.forEach(function(venn, iter, array){

                });
           }

           function addInput(strListId){
               <!-- Better solutoin: recreate html from scratch. more steps but less arrays -->
               let INTERTYPE = false;
               let setList = document.getElementById(strListId);
               let valueList = [];
               let sizeList = [];
               let labelList = [];
               if (strListId === INPUT_TYPES.INTER){
                   INTERTYPE = true;
               }

               for (var i = 0; i < setList.childElementCount; i++){
                    let inputRoot = setList.children[i];

                    valueList[i] = inputRoot.children[0].value;
                    if (INTERTYPE) {
                        labelList[i] = inputRoot.children[1].value;
                        sizeList[i] = inputRoot.children[2].value;
                    } else {
                        sizeList[i] = inputRoot.children[1].value;
                    }
               }

               if (INTERTYPE) {
                  setList.innerHTML += interInputElement;
               } else {
                   setList.innerHTML += setInputElement;
               }

               for (var i = 0; i < setList.childElementCount - 1; i++){
                   let inputRoot = setList.children[i];
                   inputRoot.children[0].value = valueList[i];
                    if (INTERTYPE) {
                        inputRoot.children[1].value = labelList[i]
                        inputRoot.children[2].value = sizeList[i];
                    } else {
                        inputRoot.children[1].value = sizeList[i]
                    }
               }
           }

           function removeInput(element){
               element.parentElement.remove();
           }

        </script>
    </head>
    <body onload="init()">

        <div th:insert="~{snippets/navbar}"></div>

        <input id="creatorEmail" type="hidden" th:value="${session.email}">
        <input id="vennDiagramId" type="hidden" th:value="${vennDiagramId}">

        <main class="container-fluid card bg-gradient-">

            <div class="row">

                <div class="col">
                    <div id="venn"></div>
                </div>

                <div class="col-auto bg-light-subtle">
                    <div class="row"><input type="text" id="vennName" class="m-1"></div>
                    <div class="row">
                        <!-- Sets -->
                        <div  class="col">
                            <div class="row"><p class="col">Name</p><p class="col">Size</p></div>
                            <div id="setsList" class="row"></div>
                        </div>
                        <!-- Intersections -->
                        <div class="col">
                            <div class="row"><p class="col">Intersection</p><p class="col">Label</p><p class="col">Size</p></div>
                            <div id="interList" class="col"></div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col"><button type="button" onclick="addInput(INPUT_TYPES.SET)" class="btn btn-primary">Add Set</button></div>
                        <div class="col"><button onclick="addInput(INPUT_TYPES.INTER)" class="btn btn-outline-info">Add Intersectoin</button></div>
                    </div>

                </div>

                <div class="row text-center">
                    <div class="col">
                        <button onclick="update()" type="button" class="btn btn-outline-secondary">Update</button>
                    </div>
                    <div class="col"><button onclick="saveVenn()" type="button" class="btn btn-outline-success">Save</button></div>
                    <div class="col">
                        <a class="btn btn-outline-danger" th:href="@{/}" onclick="return confirm('Really Exit? Unsaved Changed will be lost forever (a long time!)')">Return Home</a>
                    </div>

                </div>

            </div>

        </main>


    </body>
</html>