<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <script src="/js/d3.v7.min.js"></script>
        <script src="/js/venn.js"></script>
        <script>
           // Cool code goes here. Maybe put this under .js

           let setInputElement = "<input type='text' >"

           class _set {
               constructor(sets, size) {
                   this.sets = sets;
                   this.size = size;
               }
           }

           function init(){
               var sets = [new _set(["A"], 10), new _set(["B"], 10), new _set(["A", "B"], 3)];

               var chart = venn.VennDiagram();
               d3.select("#venn").datum(sets).call(chart);
           }

           function update(){
               let sets = [];
               let setParent = document.getElementById("setsList");
               let interParent = document.getElementById("interList")

               for (var i = 0; i < setParent.childElementCount; i++){
                   console.log(setParent.children[i].value);
                   sets[i] = new _set([setParent.children[i].value], 10);
               }

               for (var j = 0; j < interParent.childElementCount; j++){
                   console.log(interParent.children[j].value.split(","));
                   sets[setParent.childElementCount + j] = new _set(interParent.children[j].value.split(","), 5);
               }

               console.log(sets);

               var chart = venn.VennDiagram();
               d3.select("#venn").datum(sets).call(chart);
           }

           function addInput(strListId){
               let setList = document.getElementById(strListId);
               let valueList = [];

               for (var i = 0; i < setList.childElementCount; i++){
                    let child = setList.children[i];
                    valueList[i] = child.value;
               }

               setList.innerHTML += setInputElement;

               for (var i = 0; i < setList.childElementCount - 1; i++){
                   let child = setList.children[i];
                   child.value = valueList[i];
               }
           }

           function removeInput(element){

           }

        </script>
    </head>
    <body onload="init()">

        <main class="container card bg-gradient-">

            <div class="row">

                <div class="col">
                    <div id="venn"></div>
                </div>

                <div class="col bg-light-subtle">
                    <div class="row">
                        <!-- Sets -->
                        <div  class="col">
                            <div id="setsList" class="row">
                                <input type="text" value="A">
                            </div>
                        </div>
                        <!-- Intersections -->
                        <div id="interList" class="col"></div>
                    </div>
                    <div class="row text-center">
                        <div class="col"><button type="button" onclick="addInput('setsList')" class="btn btn-primary">Add Set</button></div>
                        <div class="col"><button onclick="addInput('interList')" class="btn btn-outline-info">Add Intersectoin</button></div>
                    </div>

                </div>

                <div class="row text-center">
                    <div class="col">
                        <button onclick="update()" class="btn btn-outline-secondary">Update</button>
                    </div>
                </div>

            </div>

        </main>


    </body>
</html>