<html>
<head>

</head>
<body>

    <h1>Create a new admin</h1>
    <form th:action="@{/admin/create}" method="POST">
        <label>Email</label><input type="text" name="email" />
        <label>Password</label><input type="password" name="password" />
        <select name="adminLevel" id="adminLevel">
            <option value="CREATE">CREATE</option>
            <option value="CREATE_DELETE">CREATE_DELETE</option>
        </select>
        <input type="submit" value="Create Admin" />
    </form>

</body>
</html>