<html xmlns="http://www.w3.org/1999/html">

<head>
    <title th:text="${vennName}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/d3.v7.min.js"></script>
    <script src="/js/venn.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script>

      //Hello World, or should I say venn :)))))

      function ready(){
          //SANITISE THISSSSSS VVVV
          let vennId = document.getElementById("vennid");
          let url = "./data/venn?id=";

          fetch(url.concat(vennId.value.toString()))
              .then((response) => response.json())
              .then((data) => {
                  //document.title = data.name;
                  var chart = venn.VennDiagram().width(500).height(500);
                  d3.select("#venn").datum(data.sets).call(chart);
              });
      }
     </script>

</head>
<body onload="ready()">
<div th:insert="~{snippets/navbar}"></div>

<input id="vennid" name="vennid" type="hidden" th:value="${vennid}"/>

<main class="container-fluid">

    <div class="container-md">
        <div class="card shadow-lg">
            <div class="card-header"><h2 th:text="${vennName}"></h2></div>
            <div class="row card-body">
                <div id="venn" class=""></div>
                <div class="col border border-3 border-black">
                    <div class="row border-bottom border-3 border-black"><h3 class="mx-1">Nutrition Facts</h3></div>
                    <div class="row border-bottom border-3 border-black"><p class="col fw-bold">Created by</p><p class="col" th:text="${creatorEmail}"></p></div>
                    <div class="row border-bottom border-3 border-black"><p class="col fw-bold">Created on</p><p class="col" th:text="${creationDate}"></p></div>
                    <!--
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary">Updoot <p th:text="${updoots}"></p></button>
                        </div>
                    </div>
                    -->
                </div>
            </div>
            <div class="row p-2 m-auto">
                <a th:href="@{/}" class="card-link col m-auto">Return Home</a>
            </div>
        </div>
    </div>
</main>


</body>
</html>