<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/d3.v7.min.js"></script>
        <script src="/js/venn.js"></script>
    </head>
    <body>
        <div onload="load()" th:insert="~{snippets/navbar}"></div>

        <main class="container">
            <!--
            <p th:if="${activeUser != ''}">Hey again <span th:text="${activeUser}"></span></p>
            <p th:if="${session.email != ''}" th:text="${session.email}">Hungry ass</p>
            -->

            <!-- Welcome Splash -->
            <div class="card shadow-lg my-3 p-3">
                <div class="row">
                    <div class="col-auto">
                        <div th:insert="~{snippets/vennDisplay('6859e45c6a569459628a84b8')}"></div>
                    </div>
                    <div class="col">
                        <h3>Welcome to venn.magimight.com!</h3>
                        <button type="button" class="btn btn-outline-success">Create New Venn</button>
                    </div>
                </div>
            </div>

            <div class="row my-3">
                <div class="col">
                    <div class="card shadow-lg">
                        <div class="card-header">The Hotness</div>
                        <div class="card-body">
                            <div th:insert="~{snippets/vennList('hotness')}"></div>
                        </div>
                    </div>

                </div>
                <div class="col">
                    <div class="card shadow-lg">
                        <div class="card-header">The Freshness</div>
                        <div class="card-body">
                            <!--
                            <div th:insert="~{snippets/vennList('freshness')}"></div>
                            -->
                        </div>
                    </div>
                </div>
            </div>

        </main>


    </body>
</html>